.main-venta {
  width: 100%;
  margin: 25px auto; 
  margin-bottom: 250px; 
  min-height: 100vh; 
  overflow: hidden; 
  position: relative; 
  display: block;
  background: #646E78
 
}

.main-venta-portada {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background: grey; 
  background-image: url(./Buscar.jpg);
  background-size: 100% auto ;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center
}

.main-venta-titulo {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-indent: 10px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  justify-content: center;
}

.buscar-titulo {
  display: flex;
  font-weight: bold;
  line-height: 40px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  justify-content: center;
  padding: 15px;
  margin: auto;
}

.buscar-fichas {
  width: 90%;
  margin: auto;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: flex-start;

}

.buscar-fichas-link {
  text-decoration: none;
  color: inherit;
}

.buscar-fichas-ficha {
  width: 300px; 
  padding: 15px; 
  border-radius: 5px; 
  box-shadow:0 4px 4px rgba(0,0,0,0.25); 
  margin: 10px;
  background: #fff
}

.buscar-fichas-ficha-titulo {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  color: #000;
  /* line-height: 42px; */
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  justify-content: start
}

.buscar-fichas-ficha-texto{
  /* width: 90%; */
  font-size: 0.9rem;
  margin: auto;
  margin-left: 20px;
  padding: 5px;
}

.buscar-fichas-ficha-lista {
  list-style: none; 
  font-size: 0.8rem; 
  font-weight: bold;
}

.buscar-ficha-caracteristicas-texto {
  margin: 0;
  padding: 5px;
}

.buscar-ficha-caracteristicas-icono {
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
}

.buscar-fichas-ficha-tipo {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 10px;
}

.buscar-fichas-ficha-precio {
  color: #F7934C;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); 
  text-align: right;
}

@media (max-width: 768px) {
  .main-venta-portada {
    width: 100%;
    height: 200px;
  }

  .main-venta-titulo {
    margin: 15px;
  }

  .buscar-titulo {
    font-size: 20px;
    padding: 10px 0;
    margin: 10px 0;
  }

  .buscar-fichas {
    width: 100%;
     
  }

  .buscar-fichas-ficha {
    width: 90%;
    margin: auto;
    padding: 20px 20px;
    margin-top: 15px;
  }

  .buscar-fichas-ficha-titulo{
    font-size: 1.3rem;
  }

  .buscar-fichas-ficha-texto{
    font-size: 1rem;
  }

  .buscar-fichas-ficha-lista{
    font-size: 1rem;
  }

  .buscar-fichas-ficha-tipo{
    font-size: 1.3rem;
  }

  .buscar-fichas-ficha-precio{
    font-size: 1.5rem;
    margin: 0;

  }
}